{% extends "_layout.html" %}
{% from "macros.html" import icon_for %}

<!-- prettier-ignore -->
{% block title %}Status{% endblock %}
{% block content %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Status</h1>
        {% if config.links %}
          <div class="row my-3">
            <div class="col">
              <a class="btn btn-outline-primary" data-bs-toggle="offcanvas" href="#offcanvasLinks" role="button"
                 aria-controls="offcanvasLinks">
                Links
              </a>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLinks"
                   aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h4 class="offcanvas-title" id="offcanvasLinks">Links</h4>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                          aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    <ul>
                      {% for link in config.links %}
                        <li>
                          <a class="nav-link" href="{{ link.url }}" target="_blank">
                            {{ icon_for(link.icon) }}
                            {{ link.name }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if alerts %}
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for alert in alerts %}
              <div class="col">
                <div class="card text-center bg-{{ alert.style }}">
                  <div class="card-header">
                    {% if alert.url %}
                      <a href="{{ alert.url }}" target="_blank" class="btn btn-{{ alert.style }}">{{ alert.name }}</a>
                    {% else %}
                      <span class="btn text-bg-{{ alert.style }}">{{ alert.name }}</span>
                    {% endif %}
                    <span class="badge" title="The Alert type">
                      <i class="fa-solid fa-bell"></i>
                      {{ alert.type }}
                  </span>
                  </div>
                  <div class="card-body">
                    <p class="card-text text-truncate"
                       title="{{ alert.description }}">{{ alert.description or '-' }}</p>
                  </div>
                  <div class="card-footer text-body-secondary" title="{{ alert.timestamp }}">
                    {{ alert.timestamp | humanize_naturaltime }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="col">
              <div class="alert alert-info" role="alert">
                No alerts found.
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
