annotated-types==0.6.0
anyio==4.3.0
APScheduler==3.10.4
arrow==1.3.0
azure-common==1.1.28
azure-core==1.30.0
azure-identity==1.15.0
azure-mgmt-alertsmanagement==1.0.0
azure-mgmt-core==1.4.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
dateparser==1.2.0
exceptiongroup==1.2.0
fastapi==0.109.2
fastapi-health==0.4.0
fastapi-restful==0.5.0
fonttools==4.49.0
h11==0.14.0
httmock==1.4.0
idna==3.6
isodate==0.6.1
Jinja2==3.1.3
jinja2-time==0.2.0
json-logging==1.3.0
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.3
msal==1.27.0
msal-extensions==1.1.0
msrest==0.7.1
mypy-extensions==1.0.0
numpy==1.26.4
oauthlib==3.2.2
packaging==23.2
pandas==2.2.1
pillow==10.2.0
portalocker==2.8.2
prometheus-api-client==0.5.5
prometheus_client==0.20.0
psutil==5.9.8
pycparser==2.21
pydantic==2.6.2
pydantic-settings==2.2.1
pydantic_core==2.16.3
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
sniffio==1.3.0
starlette==0.36.3
starlette_exporter==0.21.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
uvicorn==0.27.1
