atomicwrites==1.4.1
attrs==23.1.0
colorama==0.4.6
httpx==0.26.0
mypy==1.8.0
pur==7.3.1
pandas-stubs==2.1.4.231227
pylint==3.0.3 # bug in 3.0.0 cannot import IReporter
pytest==7.4.3
pytest_mypy==0.10.3
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-pylint==0.21.0
types-PyYAML==6.0.12.12